* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #f1d60c;
}
body {
    background: #1A5C09;
}
#header {
    background-image: url("https://www.brunet.ca/globalassets/sante/conseils-sante/mangez-bien-guide-alimentaire/mangez-bien-guide-alimentaire-big.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#title {
    position: absolute;
    left: 0;
    top: 15%;
    font-size: 5rem;
    padding-left: 180px;
}
#items {
    font-size: 2rem;
    margin: 0px 20px;
    padding: 15px 0px;
    text-align: center;
}
#cont-btn{
    width: 33vw;
    background: #1e3785;
    padding: 30px;
    border-radius: 15px;
    border: none;
    font-size: 2rem;
    align-items: center;
    margin-right: 20px;
    text-align: center;
}
.card {
    display: flex;
    justify-content: space-around;
    background: #1e3785;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;
}
.card h2 {
    align-self: center;
    font-size: 3rem;
}
.card p {
    font-size: 2em;
    width: 50vw;
} 